* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.row{
   
    justify-content: center;
    margin:0 auto;
}
.panel-body{
    padding:2px 1px;
}
.panel-heading{
    padding:0 5px;
    text-align: center;
    font-size: 1.8em;
}
.col-sm-6{
    margin:1px 0;
    width:49.9%;
    border:1px solid #000;
    border-radius: 5px;
    padding:0 1px;
    overflow: hidden;
    font-size: 1.4em;
}
.space{
    width:100%;
    height:60px;
    
}
